


<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googlzzapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="..\images\GL-logo.ico" type="image/x-icon">
    <title>GL QUIZ</title>
</head>
<body>
    <img src="..\images\GL-logo.png" alt="GL-logo">
    <section>
        <form class="form-index" action="cad_view.php" method="get">
            <label for="nomeJogador">Digite o nome do Jogador:</label>
            <input type="text" name="nomeJogador" id="nomeJogador" required>
            <input type="submit" value="Jogar">
        </form>
    </section>
</body>
</html>